*, ::after,
::before{ 
  box-sizing: border-box;
}

:root {
  --boo-blue: rgb(78 220 216);
  --shadow-color: hsla(0, 0%, 100%, .25);
  --max-width: 1120px;
  --fixed-width: 600px;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Bookerly';
  src: url(/src/fonts/Bookerly-Regular.ttf);
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(/src/fonts/Atkinson-Hyperlegible-Regular-102.ttf);
}

@font-face {
  font-family: 'Iowan-Old-Style';
  src: url(/src/fonts/bitstream-iowan-old-style-bt-586c36a8d7712.ttf);
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: black;
  font-family: 'Bookerly';
  overflow-x: hidden;
}

.App {
}

h1.head {
  padding: 0;
  margin: 0;
}

.section.home {
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: start;
  width: 100%;
}

.head {
  min-width: 100%;
  font-weight: 500;
  font-family: 'Iowan-Old-Style';
  font-size: 5rem;
  color: white;
  text-align: center;
}

.timestamp {
  color: white;
  text-align: center;
  margin: 7px;
  padding: 5px;
}

.timestamp:last-of-type {
  margin-top: 0;
  padding-top: 0;
}

.timestamps,
.footr {
  padding-bottom: 10px;
  opacity: 80%;
}

.bubble,
.bubble-k,
.bubble-a {
  display: flex;
  flex-direction: column;
  width: 37rem;
  width: 33%;
  flex-wrap: nowrap;
  background-color: white;
  font-size: 1.6rem;
  border-radius: 12px;
  border-radius: 1rem;
  margin-bottom: 19px;
  padding-block: .125rem;
  padding-left: .875rem;
  padding-right: .875rem;
  padding: 20px;
  text-align: left;
  min-width: 300px;
  overflow-x: scroll;
}

.bubble-k {
  background-color: #a9a9a9;
  background-color: transparent;
  border: solid rgba(255, 255, 255, 0.152) 3px;
  box-shadow: 0 0 15px var(--shadow-color);
  justify-items: left;
  color: white;
}

.bubble-a {
  background-color: #61dafb;
  color: black;
}

.messages-list {
  padding-bottom: 5px;
}

.arrows {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}

.arrows span {
  color: white;
  opacity: 80%;
  padding-left: 9px;
}

.arrow-bottom {
  margin-top: 42px;
  padding-bottom: 20px;
}


.footr {
  color: white;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background-color: black;
  /*
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  */
  font-size: calc(10px + 2vmin);
  color: white;
  border: solid rgb(132, 121, 126) 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
